.Event {
  padding-top: 3%;
  width: 90%;
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.items {
  background-color: white;
  /* background: repeating-linear-gradient(
  180deg,
  white,
  white 18px,
  #efefef 18px,
  #efefef 36px 
);*/
  padding-right: 2%;
  padding-bottom: 3%;
  height: fit-content;
  margin-top: 2%;
}
.items h4{
  margin-left: 6%;
}

.eventt {
  /*  border: 2px solid #04aa6d;
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 2%;
  padding-top: 3%;
  min-width: 86%;
  display: flex;
  justify-content: center;
  width: min-content;
  margin: 15px;
  padding: 10px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto; */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  width: 80%;
}

.details {
  margin-right: 5%;
}

.eventt button {
  background-color: #0c7728;
  color: white;
  padding: 1%;
  font-size: xx-large;
  font-weight: 200;
  margin-top: 10px;
  border-radius: 10%;
  border: none;
  box-shadow: 3px 3px 4px rgb(66, 66, 66);
}
.eventt button:hover {
  background-color: #04aa6d;
  cursor: pointer;
}

h2 {
  margin-bottom: 1%;
  margin-top: 1%;
}

.dateTime {
  color: gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 50%;
}
